.DetailComponent{
    width: 49%;
    border: solid var(--turqoise) 1px;
    color: var(--turqoise);
    padding: 10px;
    height: 45%;
    position: relative;
    border-radius: 5px;
}
.DetailComponent::before{
    content: 'Output'; 
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 10px;
    background: var(--darkBlue);
    transform: translate(50%,-50%);
    font-weight: bold;
}