.Button{
    text-transform: uppercase;
    background: var(--turqoise);
    border: none;
    border-radius: 100px;
    color: var(--darkBlue);
    padding: 6px 10px;
    transition: .25s;
    cursor: pointer;
}

.Button.showDescription{
    opacity: .2;
    border-radius: 0;
    background: transparent;
    color: var(--turqoise);
    border: none;
}

.Button.showDescription:hover,
.Button.hideDescription{
    background: var(--turqoise);
    color: var(--darkBlue);
    opacity: 1;
    border-radius: 0;
}

.Button.hideDescription:hover{
    border: solid var(--turqoise) 1px;
    color: var(--turqoise);
    opacity: 1;
    background: transparent;
}