.buttons{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.scaledDown button{
    margin: 2px;
}
.normalSize{
    height: 100%;
}
.normalSize button{
    margin: 10px;
}

