.Card{
    flex: 0 0 25%;
    padding: 8px;
    display: flex;
    margin: auto;
    transition: transform .5s;
    cursor: pointer;
}

.Card:hover{
    transform: scale(1.05);
}

.Card header{
    background: var(--blue);
    padding: 5px;
}
.added{
    font-size: 1rem;
    font-weight: normal;
    color: var(--darkBlue);
}
.added span{
    font-weight: bold;
}

.description{
    width: 100%;
    flex-grow: 1;
    background: orange;
}
.componentContainer{
    margin: 5px;
    flex-grow: 1;
    opacity: .1;
    transition: opacity .5s;
}
.componentContainer:hover{
    opacity: 1;
}
.content{
    position: relative;
    width: 280px;
    height: 300px;
    flex-grow: 1;
    background: var(--darkBlueContrast);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}