.Card{
    flex: 0 0 25%;
    padding: 8px;
    display: flex;
    transition: transform .5s;
    cursor: pointer;
}

.Card:hover{
    transform: scale(1.05);
}

.Card main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    flex-grow: 1;
}

.Card header{
    background: var(--blue);
    padding: 5px;
}
.added{
    font-size: 1rem;
    font-weight: normal;
    color: var(--darkBlue);
}
.added span{
    font-weight: bold;
}

.description{
    width: 100%;
    background: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: 1s;
    grid-column: 1;
    z-index: 100;
    grid-row: 1;
}
.description.show{
    transform: scaleY(1);
}
.description p{
    max-height: 80%;
    max-width: 90%;
    overflow-y: auto;
}
.componentContainer{
    margin: 5px;
    grid-column: 1;
    grid-row: 1;
    opacity: .1;
    transition: opacity .5s;
    display: flex;
}

.componentContainer:hover{
    opacity: 1;
}
.content{
    position: relative;
    width: 280px;
    height: 300px;
    flex-grow: 1;
    background: var(--darkBlueContrast);
    border-radius: 2px;
    display: flex;
    flex-direction: column;
}
