.Search{
    background: transparent;
    display: flex;
    width: 400px;
}
.Search input{
    background: none;
    border: none;
    flex-grow: 1;
    color: var(--white);
    font-size: 1.2rem;
}
.Search input::placeholder{
    color: var(--turqoise);
    opacity: .5;
}
.Search svg{
    margin: 0 15px;
    width: 40px;
}
.Search svg > *{
    fill: var(--turqoise);
}