.Content{
    display: flex;
    margin-top: 5vh;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    width: 95vw;
    max-width: 1200px;
    color: var(--turqoise);
}

.Content > h2{
    font-size: 2.5rem;
}
.Content p{
    font-size: 1rem;
    opacity: .3;
}