*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --darkBlue: #071e3d;
    --darkBlueContrast: #0f243f;
    --blue: #1f4287;
    --darkTurqoise: #278ea5;
    --turqoise: #21e6c1;
    --white: white;
    --black:black;
}
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: var(--darkBlue);
}
input,
button{
    outline: none;
}
li{
    list-style: none;
}
#App{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Inside component styling (global component styling) */
.component > div{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.component > div button{
    padding: 5px 10px;
    background: transparent;
    border: var(--turqoise) solid 2px;
    border-radius: 100px;
    color: var(--turqoise);
    cursor: pointer;
    transition: .25s;
}
.component > div button:hover{
    background: var(--turqoise);
    color: var(--darkBlue);
}
.card .component > div button,
.card .component > div h3{
    transform: scale(.7);
} 