.DetailCode{
    height: 54%;
    background: var(--white);
    border-radius: 5px;
}


.FileNav li.active,
.FileNav li:hover{
    background: var(--turqoise);
    color: var(--darkBlue);
}

.FileNav{
    display: flex;
    background: var(--darkBlue);
}

.FileNav li{
    padding: 5px 10px;
    color: var(--turqoise);
    border: var(--turqoise) solid 1px;
    background: transparent;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: .25s;
}