.DetailCode{
    height: 54%;
    background: var(--white);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}


.FileNav li.active,
.FileNav li:hover{
    background: var(--turqoise);
    color: var(--darkBlue);
}

.FileNav{
    display: flex;
    background: var(--darkBlue);
}

.FileNav li{
    padding: 5px 10px;
    color: var(--turqoise);
    border: var(--turqoise) solid 1px;
    background: transparent;
    border-radius: 10px 10px 0 0;
    cursor: pointer;
    transition: .25s;
}

.DetailCode main{
    flex-grow: 1;
    border: var(--turqoise) solid 2px;
    overflow-y: auto;
    background: #19171c;
    overflow-x: auto;
}
.DetailCode pre{
    height: 100%;
    max-height: 100%;
    max-width: 100%;
}

.DetailCode code{
    overflow-x: initial;
    min-height: 100%;
}

/* width */
.DetailCode main::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    border-radius: 5px;
}

/* Track */
.DetailCode main::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 5px;
}

/* Handle */
.DetailCode main::-webkit-scrollbar-thumb {
    background: var(--turqoise); 
    border-radius: 5px;
}